@charset "UTF-8";
@font-face {
  font-family: "A_Trib";
  src: url("../src/OCR_A_Tribute/OCRATributeCom-Bold.ttf") format("truetype"), url("../src/OCR_A_Tribute/OCRATributeCom-BoldMono.ttf") format("truetype"), url("../src/OCR_A_Tribute/OCRATributeCom-Light.ttf") format("truetype"), url("../src/OCR_A_Tribute/OCRATributeCom-LightMono.ttf") format("truetype"), url("../src/OCR_A_Tribute/OCRATributeCom-Regular.ttf") format("truetype"), url("../src/OCR_A_Tribute/OCRATributeCom-RegularMono.ttf") format("truetype");
  font-style: normal;
}
@font-face {
  font-family: "B";
  src: url("../src/OCR_B/OCRBStd.otf") format("opentype");
  font-style: normal;
}
@font-face {
  font-family: "A";
  src: url("../src/OCR_A/OCRAStd.otf") format("opentype");
  font-style: normal;
}
body {
  font-family: "A_Trib";
  min-width: 100%;
  min-height: 100%;
  overflow: hidden;
  background-color: #d6d2c8;
}

#variadex {
  position: absolute;
  top: 500px;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  perspective: 1000px;
}

.nft {
  background-position: center 0px;
  background-repeat: no-repeat;
  display: flex;
  width: 600px;
  height: 380px;
  margin: 10px;
  padding: 10px;
  position: absolute;
  overflow: hidden;
  margin-top: -300px;
  transition: all 600ms cubic-bezier(0.86, 0, 0.07, 1);
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
}
.nft img {
  max-width: 400px;
  height: auto;
  display: block;
  margin: 0 auto;
}
.nft-open {
  transform: translateY(400px);
}

.owner-address {
  font-weight: bold;
  margin-bottom: 20px;
}

:root {
  --glitter: url("https://assets.codepen.io/13471/silver-glitter-background.png");
}

.fire {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.fire::after {
  content: "";
  position: absolute;
  inset: 0;
}
.fire::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: var(--glitter), var(--glitter), linear-gradient(0deg, white 0px, #ff8951 5px, rgba(220, 188, 22, 0.6117647059) 30%, transparent 70%), radial-gradient(ellipse at bottom, transparent 30%, black 60%);
  background-size: 350px 500px, 400px 650px, 100% 100%, 100% 100%;
  background-blend-mode: hard-light, color-dodge, multiply;
  background-position: 0px 0px, 0px 0px, var(--gradientPos);
  background-repeat: repeat, repeat, repeat, no-repeat;
  mix-blend-mode: color-dodge;
  filter: brightness(3.7) blur(7px) contrast(6);
  animation: fire 1.75s linear infinite;
  box-shadow: inset 0 -40px 50px -60px #63bbc5;
}

@keyframes fire {
  0% {
    background-position: center 0px, center 0px, 50% 100%, center center;
  }
  100% {
    background-position: center -500px, center -650px, 50% 100%, center center;
  }
}
h1 {
  font-family: "A_Trib";
  text-align: center;
  margin-bottom: 0;
}

.titre_num {
  position: relative; /* 포지셔닝 컨텍스트 설정 */
  align-items: center; /* 세로 중앙 정렬 */
  height: auto;
  margin-top: 15px;
  padding-bottom: 50px;
  display: flex;
  width: 150px;
  flex-wrap: wrap;
  overflow: hidden;
  justify-content: space-between; /* 요소들을 양끝으로 정렬 */
}

h2, h3 {
  position: static; /* absolute 제거 */
  margin: 0;
}

h2 {
  font-family: "A_Trib";
  font-weight: 400;
  text-align: right;
  color: #000;
  font-size: 12px;
  flex-grow: 1; /* 가능한 공간을 채우도록 설정 */
}

h3 {
  opacity: 0.5;
  text-align: left;
  font-size: 10px;
  font-weight: 200;
  flex-grow: 1; /* 가능한 공간을 채우도록 설정 */
}/*# sourceMappingURL=main.css.map */